@keyframes flashy {
  from {
    background-color: white;
  }
  to {
    background-color: orange;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: slategray;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(242, 204, 143, 0.4);
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: rgba(242, 204, 143, 0.4);
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.6rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: rgba(242, 204, 143, 0.4);
}
@media (max-width: 500px) {
  h4 {
    font-size: 2.5rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: rgba(242, 204, 143, 0.4);
}
@media (max-width: 500px) {
  p {
    font-size: 1.3rem;
  }
}
ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0 1.5%;
}
li {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: rgba(242, 204, 143, 0.4);
}
@media (max-width: 500px) {
  li {
    font-size: 1.3rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.bgContainer {
  background-image: url("../img/backgroundimg2.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
@media (max-width: 800px) {
  .bgContainer {
    background-size: 280%;
  }
}
@media (max-width: 500px) {
  .bgContainer {
    background-image: url("../img/jesse-orrico-h6xNSDlgciU-unsplash.jpg");
    background-size: 200%;
  }
}
.aboutbgContainer {
  background-image: url("../img/backgroundimg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 91.9vh;
}
@media (max-width: 800px) {
  .aboutbgContainer {
    background-size: 280%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .aboutbgContainer {
    background-image: url("../img/jesse-orrico-h6xNSDlgciU-unsplash.jpg");
    background-size: 200%;
  }
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}
button {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 204, 143, 0.4);
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 2px solid black;
  transition-duration: 1s;
  cursor: pointer;
}
@media (max-width: 800px) {
  button {
    font-size: 1.3rem;
  }
}
button:hover {
  background-color: #be7c4d;
  /* Green */
  color: white;
  font-weight: normal;
}
.nav {
  background-image: url("../img/antique-backdrop-background-129731.jpg");
  background-size: 100%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #7f9c96;
  border: 4px solid #2a4849;
  border-radius: 5px;
  position: sticky;
  top: 5px;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav div {
  width: 50%;
}
@media (max-width: 500px) {
  .nav div {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 12px;
    text-align: center;
  }
  .nav div h1 {
    font-size: 2.8rem;
  }
}
.nav nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
}
@media (max-width: 500px) {
  .nav nav {
    margin: 0 auto;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
  }
}
.nav nav a {
  width: 32%;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}
.nav nav a:hover {
  text-decoration: underline;
}
.annoyingline {
  width: 100%;
  margin-top: 10px;
  border-top: 2px dashed silver;
}
@media (max-width: 500px) {
  .annoyingline {
    margin-top: 5px;
  }
}
.home header {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/antique-backdrop-background-129731.jpg");
  background-size: 100%;
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
  text-align: center;
}
.home header .headerimg {
  width: 100%;
}
.home header .headerimg img {
  width: 100%;
}
.home .content-section {
  background-image: url("../img/antique-backdrop-background-129731.jpg");
  background-size: 100%;
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 50%;
}
.home .content-section .text-content h2,
.home .content-section .text-content p {
  padding: 0 1%;
}
@media (max-width: 800px) {
  .home .content-section .text-content {
    width: 100%;
    order: 0;
  }
}
.home .content-section .img-content {
  width: 50%;
}
@media (max-width: 800px) {
  .home .content-section .img-content {
    width: 100%;
    order: 99;
  }
}
.home .content-section .img-content img {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .home .content-section .img-content img {
    height: auto;
  }
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    height: 100%;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
    padding-bottom: 30px;
  }
}
.home .content-pick {
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    padding-top: 0%;
    border-top: none;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 100%;
  }
}
.home .content-pick .btn {
  width: 83%;
  background-color: #00701a;
  color: #ecfffd;
  padding: 5%;
  border-radius: 13px;
  border: none;
  font-size: 1.6rem;
  border: 1px solid #00701a;
}
.home .content-pick .btn:hover {
  background-color: #ecfffd;
  color: #00701a;
  font-weight: bold;
  border: 1px solid #00701a;
}
@media (max-width: 500px) {
  .home .content-pick .btn {
    width: 100%;
    padding: 3%;
  }
}
.home .platform {
  background-image: url("../img/antique-backdrop-background-129731.jpg");
  background-size: 100%;
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
  text-align: center;
}
.home .platform button {
  margin-bottom: 15px;
  width: 22%;
}
@media (max-width: 800px) {
  .home .platform button {
    width: 25%;
  }
}
@media (max-width: 500px) {
  .home .platform button {
    width: 30%;
  }
}
.aboutUs {
  background-image: url("../img/antique-backdrop-background-129731.jpg");
  background-size: 100%;
  background-color: rgba(242, 204, 143, 0.4);
  border: 3px solid #2a4849;
  border-radius: 5px;
  text-align: center;
}
.aboutUs p {
  padding: 0;
  margin: 0;
}
.aboutUs .aboutUsDevs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.aboutUs .aboutUsDevs .aboutUsImgDiv {
  width: 28%;
}
.aboutUs .aboutUsDevs .aboutUsImgDiv p {
  background-color: transparent;
}
@media (max-width: 800px) {
  .aboutUs .aboutUsDevs .aboutUsImgDiv {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .aboutUs .aboutUsDevs .aboutUsImgDiv {
    width: 100%;
  }
}
.aboutUs .aboutUsDevs .aboutUsImgDiv img {
  width: 100%;
  border-radius: 300px;
}
.aboutUs .aboutUsDevs .aboutUsImgDiv img:hover {
  box-shadow: 0px 0px 20px 20px #be7c4d;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background-color: #b49a67;
  border-radius: 5px;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
}
