* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: slategray;
}

html, body {
  font-family: 'Roboto', sans-serif;
}
//body{
  //background-image: url("../img/philip-swinburn-vS7LVkPyXJU-unsplash.jpg");
  //background-image: linear-gradient(to bottom left, @1, @4, @3, @2, @3, @4, @1);
  //margin: auto 0;
  //background-size: 100%;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
//}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
  @media @mobile{
    font-size: 1.3rem;
    font-weight: bold;
  }
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  @media @mobile{
    font-size: 2.6rem;
    font-weight: bold;
  }
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  @media @mobile{
    font-size: 2.5rem;
    font-weight: bold;
  }
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  @media @mobile{
    font-size: 1.3rem;
    font-weight: bold;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.bgContainer{
  //margin: 100px 0;
  background-image: url("../img/backgroundimg2.jpg");
  //background-image: linear-gradient(to bottom left, @1, @4, @3, @2, @3, @4, @1);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  @media @tablet{
    background-size: 280%;
  }
  @media @mobile{
    background-image: url("../img/jesse-orrico-h6xNSDlgciU-unsplash.jpg");
    background-size: 200%;
  }
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  @media @mobile{
    width: 90%
  }
}
