// Mixins in here

.parabutton(@width:83%, @bcolor:@buttonBackgroundColor, @tcolor:@buttonTextColor, @padding:5%, @radius:13px){
    width: @width;
    background-color: @bcolor;
    color: @tcolor;
    padding: @padding;
    border-radius: @radius;
    border: none;
    font-size: 1.6rem;
    border: 1px solid @bcolor;

    &:hover{
    background-color: @tcolor;
    color: @bcolor;
    font-weight: bold;
    border: 1px solid @bcolor;
    }
}

.backgroundAndBorder(@bgColor: @4, @size: 3px, @borderColor: @1, @radius: 5px){
    background-color: @bgColor;
    border: @size solid @borderColor;
    border-radius: @radius;
}